*{
    margin: 0;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: url(bg.jpg);*/
    background-size: cover;
    background-position: center;
    background: #4d159cd4;
}

/* La carte */
.card{
    height: 600px;/* hauteur */
    width: 400px;
    background: rgba(255, 255, 255, 0.1); /* Bien transparent ainsi */
    backdrop-filter: blur(5px);/* filtre pour rendre flou */
    border-radius: 20px;
    border-top: 2px solid rgba(125, 125, 125); /* bordure seulement de la ligne du haut */
    border-left: 2px solid rgba(125, 125, 125); /* bordure seulement de la ligne gauche */
}

/* Le contenu de la carte */
.card .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px; /* ici 0 pour le haut et le bas et 20px pour les cotés */
    position: relative;
    overflow: hidden; /* cache se qui dépasse de la carte */
}

.card .content::before{
    content: "LIVE";
    position: absolute;
    top:0;
    left:0;
    font-size: 20rem;
    color: rgba(255, 255, 255, 0.034);
    font-weight: bolder;
    line-height: 0.8em;
}

.card .content .picture{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative; /* car l'enfant est en position:absolute */
    margin-bottom: 40px; /*  marge qui éloigne les éléments de l'image ici */
}

/* le pseudo élément ==> ::before */
.card .content .picture::before{
    position: absolute; /* toujour mettre une position: relative à son parent */
}

/* Image doit par rapport à son parent: */
.card .content .picture img{
    width: 100%;
    height: 100%;
    border-radius: 50%; /* image en rond */
    border: solid 5px red; /* cercle autour de l'image */
}

/*  ici le h1 le p et le a, ont les mêmes instruction donc on les rassemble pour gagner de la place */
.card .content h1,
.card .content p,
.card .content a{
    color: aliceblue;
    text-align: center;
    text-decoration: none;
}

.card .content a{
    text-transform: uppercase; /* pour l'avoir en majuscule */
    font-size: 20px;
    font-weight: 500;/* gras du texte */
    background: linear-gradient(to top, #9f0909, #c14949); /* dégrader du haut vers le bas */
    width: 200px;
    padding: 8px 0;
    border-radius: 10px;
    margin-top: 40px; /* écran par rapport au texte de dessus */
    box-shadow: 0 2px 16px 3px rgb(233, 11, 7); /* Ombre du boutton */
}

.card .content h1{
    margin-bottom: 10px;
}