*{
    margin: 0;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: url(bg.jpg);
    background-size: cover;
    background-position: center;*/
}